.aside {
    padding: 25px 30px;
    min-width: 280px;
    position: relative;
    border-right: 1px solid var(--lightmode-grey-grey-200);
}

.logo {
    margin-bottom: 30px;
    display: inline-block;
}

.closeButton {
    padding: 6px !important;
    height: 30px !important;
    width: 30px !important;
    position: absolute;
    right: -15px;
    top: 20px;
    background-color: var(--white-text) !important;
    border: 1px solid var(--lightmode-grey-grey-200) !important;
}

