.pageLink {
    margin: 0 !important;
    padding: 12px 0 !important;
}

.menuHead {
    margin: 0 !important;
    padding: 12px 0 !important;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}