.cards {
    margin: 0 auto 40px;
    max-width: 1140px;
    display: flex;
    gap: var(--offset-30);
}

.card {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.cardsTitle {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: var(--lightmode-grey-grey-900)
}

.cardsText {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: var(--lightmode-grey-grey-700)
}

.cardLink {
    color: var(--lightmode-primary-primary) !important;
    border-bottom: 1px dashed var(--lightmode-primary-primary) !important;
}

@media (max-width: 1200px) {
    .cards {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .card {
        flex-direction: column;

        img {
            margin-left: 56px;
            max-width: 180px;
        }
    }
}