.scrollTextBefore::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--bg-btn);
    opacity: 1;
}

.scrollText {
    color: var(--bg-btn)
}

.scrollLink:hover {
    color: var(--bg-btn)
}