.admin {
  display: flex;
}

.managerBox {
  margin-right: 8px;
}

.boxInfo {
  font-size: 40px;
  font-family: Inter;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.managerButton {
  margin-bottom: 15px;
  padding: 10px 25px;
  border: 1px solid var(--lightmode-grey-grey-300);
  border-radius: 12px;
}
